// main:../main.styl, libs:nib, compress:false
.btn-base
  background main_tab
  color #fff
  &:hover
    color #fff
.base-label
  font-weight 900
.main-label
  padding 9px 20px
  margin-right 20px
.view-more
  float right
  line-height 30px
.per-section
  margin-top 20px

.navbar-brand
  padding 0
  img
    height 50px
#container
  margin-top -35px
.qtip
  max-width 900px
  width 900px
.no-padding
  padding 0
.grid-container
  margin-left -1%
  a
    color #fff
    width 31.3%
    margin 1%
    float left
    position relative
    display inline-block
    overflow hidden
    img
      width 100%
    .overlay
      overflow hidden
      display none
      width 100%
      height 100%
      top 0
      position absolute
      background rgba(1,1,1,0.7)
      .play-container
        width 100%
        height inherit
        display flex
        justify-content center
        align-items center

    &:hover>figure>.overlay
      display block

  .grid-info
    display none
    h3
      display block
.well-label
  font-weight 700
.imdb-rating
  padding 2px 5px
  background #FED500
  border-radius 3px
.sinopsis
  font-size .8em
  line-height 1em







@media(min-width:screen_lg_min)
  .grid-container
    a
      width 10.5%
@media(min-width:screen_md_min) and (max-width:screen_md_max)
  .grid-container
    a
      width 16.66%
      margin 1.5%
      &:nth-last-child
        display none
@media(min-width:screen_sm_min) and (max-width:screen_sm_max)
  .grid-container
    a
      width 16.66%
      margin 1.5%
      &:nth-last-child
        display none
