// main:./section_index.styl,libs:nib, compress:false
@import("nib")
#top-section
  height 140px
  background pink
  padding 0

  #slider
    height inherit

    .row
      height inherit

      .swiper-container
        width 100%
        height 100%

        .swiper-slide
          background-size cover
          text-align center
          display flex
          justify-content center
          align-items center

          img
            width inherit
            height inherit

        .swiper-pagination
          text-align left

          .swiper-pagination-bullet
            size(8px)
          .swiper-pagination-bullet-active
            background main_tab

  #news
    height inherit
    background #222
    .row
      height inherit
    .nano
      width 100%;
      height inherit
      overflow hidden

      .nano-content
        padding 10px
        a.news-items
          padding 10px
          display block
          border-top 1px solid #eee
          &:nth-child(1)
            border none
            margin-top -19px
          .news-wrap
            margin-top 10px
            img
              width 60px
              height 40px
              float left
              margin 5px 10px
              padding 3px
            span
              padding 0px 12px
              display block
              color #fff
          &:hover
            text-decoration none
            background rgba(255,255,255,0.5)
      .nano-pane
        background #888
      .nano-slider
        background #111

@media(min-width:screen_lg_min)
  #top-section
    height 400px
    .swiper-pagination-bullet
      size(10px)
@media(min-width:screen_md_min) and (max-width:screen_md_max)
  #top-section
    height 300px
    .swiper-pagination-bullet
      size(10px)
@media(min-width:screen_sm_min) and (max-width:screen_sm_max)
  #top-section
    height 250px
    .swiper-pagination-bullet
      size(10px)
