doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title Movies.dev
    link(rel="stylesheet",href="/build/css/bootstrap.min.css")
    link(rel="stylesheet",href="/build/css/font-awesome.css")
    link(rel="stylesheet",href="/build/css/main.css")
    link(rel="stylesheet",href="/build/plugins/qtip2/jquery.qtip.min.css")
    block css
    
    script(src="/build/js/jquery.min.js")
    script(src="/build/js/bootstrap.min.js")
    script(src="/build/plugins/qtip2/jquery.qtip.min.js")
    block js
  body
    block body
    
    block custom_js
