//output:../../build/index.html
extends _master.jade
block css
  link(rel="stylesheet",href="/build/plugins/swiper/swiper.min.css")
  link(rel="stylesheet",href="/build/plugins/nanoscroller/nanoscroller.css")
block js
  script(src="/build/plugins/swiper/swiper.min.js")
  script(src="/build/plugins/nanoscroller/jquery.nanoscroller.min.js")
  
block custom_js
  script(type="text/javascript").
    $(function(){
      $(window).resize(function(){
        var x = $(window).width();
        if(x <= 768){
          $('[data-hasqtip]').qtip('hide').qtip('disable');
        }else{
          $('[data-hasqtip]').qtip('enable');
        }
      })
      var mySwiper = new Swiper('.swiper-container', {
        speed: 400,
        spaceBetween: 100,
        pagination: '.swiper-pagination',
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: true,
      });
      
      $(".nano").nanoScroller();
      $('.grid-container a').each(function(){
        $(this).qtip({
          content:{
            text:$(this).next('.grid-info')
          },
          position:{
            viewport:$(window),
            target:'mouse',
            my:'bottom left',
            adjust:{
              mouse:true,
              x:-2,
              y:-2
            },
          },
          hide : 'mouseleave',
          style :{
            classes:'qtip-bootstrap qtip-shadow'
          }
        })
      })
    })
    
    
     
    
block body
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#mynav",aria-expanded="false")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#")
          img(src="/build/img/logo.jpg")
      .collapse.navbar-collapse#mynav
        ul.nav.navbar-nav
          li.active
            a(href="#") Link1
          li
            a(href="#") Link2
          li.dropdown
            a(href="#",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false").dropdown-toggle
              | Dropdown
              span.caret
            ul.dropdown-menu
              li
                a(href="#") dd1
              li.divider
              li
                a(href="#") dd2s
  .container-fluid#container
    #top-section.per-section.clearfix
      .col-lg-9.col-md-8#slider
        .row
          .swiper-container
            .swiper-wrapper
              .swiper-slide(style="background-image:url(/build/img/slider/s1.jpg)")
              .swiper-slide(style="background-image:url(/build/img/slider/s2.jpg)")
              .swiper-slide(style="background-image:url(/build/img/slider/s3.jpg)")
            .swiper-pagination
        
      .col-lg-3.col-md-4.hidden-sm.hidden-xs#news
        .row
          .nano
            .nano-content
              .row  
                - for(var i = 0;i<10;i++){
                  a(href="#").news-items
                    .news-wrap
                      img.news-thumb(src="/build/img/thumb.png")
                      span
                        | fjwoejfoweihj oiwheiovwehfweoih oihfewohf ohfoiewhfoi hewoifhoweihf iweohfwehf hhhioh
                - }
                
    #suggestion.per-section.clearfix
      .col-sm-12
        .row.visible-sm.visible-xs
          span.pull-left.base-label Suggestion &nbsp; &nbsp;
            i.fa.fa-chevron-right
          span.pull-right
            a(href="#").view-more View More
        .row
          .per-section-control.hidden-sm.hidden-xs
            .col-sm-12.clearfix
              .pull-left
            .btn.btn-base.main-label.pull-left Suggestion &nbsp; &nbsp;
              i.fa.fa-chevron-right
            a(href="#").view-more View More
          ul.nav.nav-pills
            li.active
              a(data-toggle="tab",href="#featured") Featured
            li
              a(data-toggle="tab",href="#top-view-today") Top viewed today
            li
              a(data-toggle="tab",href="#most-favorite") Most Favorite
            li
              a(data-toggle="tab",href="#top-rating") Top Rating
            li
              a(data-toggle="tab",href="#top-rating") Top IMDb
              
          .tab-content
            .tab-pane.fade.in.active#featured
            
              .grid-container
                - for(var i=0;i<16;i++){
                  a(href="#")
                    figure
                      img(src="/build/img/thumb.png")
                      .overlay
                        .play-container
                          i.fa.fa-play-circle-o.fa-4x
                  .grid-info
                    h3 Suicide squad
                    .row
                      .well.clearfix
                        .col-sm-4.text-center.no-padding
                          span.imdb-rating.well-label IMDb 7.7
                        .col-sm-4.text-center.no-padding
                          span.well-label 2016
                        .col-sm-4.text-center.no-padding
                          span.well-label 2h
                      .col-sm-12.sinopsis
                        oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
                - }
            .tab-pane.fade.in#top-view-today
            
              .grid-container
                - for(var i=0;i<16;i++){
                  a(href="#")
                    figure
                      img(src="/build/img/thumb.png")
                      .overlay
                        .play-container
                          i.fa.fa-play-circle-o.fa-4x
                  .grid-info
                    h3 Suicide squad
                    .row
                      .well.clearfix
                        .col-sm-4.text-center.no-padding
                          span.imdb-rating.well-label IMDb 7.7
                        .col-sm-4.text-center.no-padding
                          span.well-label 2016
                        .col-sm-4.text-center.no-padding
                          span.well-label 2h
                      .col-sm-12.sinopsis
                        oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
                - }
            .tab-pane.fade.in#most-favorite
            
              .grid-container
                - for(var i=0;i<16;i++){
                  a(href="#")
                    figure
                      img(src="/build/img/thumb.png")
                      .overlay
                        .play-container
                          i.fa.fa-play-circle-o.fa-4x
                  .grid-info
                    h3 Suicide squad
                    .row
                      .well.clearfix
                        .col-sm-4.text-center.no-padding
                          span.imdb-rating.well-label IMDb 7.7
                        .col-sm-4.text-center.no-padding
                          span.well-label 2016
                        .col-sm-4.text-center.no-padding
                          span.well-label 2h
                      .col-sm-12.sinopsis
                        oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
                - }
            .tab-pane.fade.in#top-rating
            
              .grid-container
                - for(var i=0;i<16;i++){
                  a(href="#")
                    figure
                      img(src="/build/img/thumb.png")
                      .overlay
                        .play-container
                          i.fa.fa-play-circle-o.fa-4x
                  .grid-info
                    h3 Suicide squad
                    .row
                      .well.clearfix
                        .col-sm-4.text-center.no-padding
                          span.imdb-rating.well-label IMDb 7.7
                        .col-sm-4.text-center.no-padding
                          span.well-label 2016
                        .col-sm-4.text-center.no-padding
                          span.well-label 2h
                      .col-sm-12.sinopsis
                        oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
                - }
            .tab-pane.fade.in#top-imdb
            
              .grid-container
                - for(var i=0;i<16;i++){
                  a(href="#")
                    figure
                      img(src="/build/img/thumb.png")
                      .overlay
                        .play-container
                          i.fa.fa-play-circle-o.fa-4x
                  .grid-info
                    h3 Suicide squad
                    .row
                      .well.clearfix
                        .col-sm-4.text-center.no-padding
                          span.imdb-rating.well-label IMDb 7.7
                        .col-sm-4.text-center.no-padding
                          span.well-label 2016
                        .col-sm-4.text-center.no-padding
                          span.well-label 2h
                      .col-sm-12.sinopsis
                        oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
                - }
    #latest-movies.per-section.clearfix
      .col-sm-12
        .row.visible-sm.visible-xs
          span.pull-left.base-label Latest Movies &nbsp; &nbsp;
            i.fa.fa-chevron-right
          span.pull-right
            a(href="#").view-more View More
        .row
          .per-section-control.hidden-sm.hidden-xs
            .col-sm-12.clearfix
              .pull-left
            .btn.btn-base.main-label.pull-left Latest Movies &nbsp; &nbsp;
              i.fa.fa-chevron-right
            a(href="#").view-more View More
        .row
          .grid-container
            - for(var i=0;i<16;i++){
              a(href="#").clearfix
                figure
                  img(src="/build/img/thumb.png")
                  .overlay
                    .play-container
                      i.fa.fa-play-circle-o.fa-4x
              .grid-info
                h3 Suicide squad
                .row
                  .well.clearfix
                    .col-sm-4.text-center.no-padding
                      span.imdb-rating.well-label IMDb 7.7
                    .col-sm-4.text-center.no-padding
                      span.well-label 2016
                    .col-sm-4.text-center.no-padding
                      span.well-label 2h
                  .col-sm-12.sinopsis
                    oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
                  
            - }   
    #latest-serials.per-section.clearfix
      .col-sm-12
        .row.visible-sm.visible-xs
          span.pull-left.base-label Latest TV Series &nbsp; &nbsp;
            i.fa.fa-chevron-right
          span.pull-right
            a(href="#").view-more View More
        .row
          .per-section-control.hidden-sm.hidden-xs
            .col-sm-12.clearfix
              .pull-left
            .btn.btn-base.main-label.pull-left Latest TV Series &nbsp; &nbsp;
              i.fa.fa-chevron-right
            a(href="#").view-more View More
        .row
          .grid-container
            - for(var i=0;i<16;i++){
              a(href="#")
                figure
                  img(src="/build/img/thumb.png")
                  .overlay
                    .play-container
                      i.fa.fa-play-circle-o.fa-4x
              .grid-info
                h3 Suicide squad
                .row
                  .well.clearfix
                    .col-sm-4.text-center.no-padding
                      span.imdb-rating.well-label IMDb 7.7
                    .col-sm-4.text-center.no-padding
                      span.well-label 2016
                    .col-sm-4.text-center.no-padding
                      span.well-label 2h
                  .col-sm-12.sinopsis
                    oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
            - }
    #requested.per-section.clearfix
      .col-sm-12
        .row.visible-sm.visible-xs
          span.pull-left.base-label Requested &nbsp; &nbsp;
            i.fa.fa-chevron-right
          span.pull-right
            a(href="#").view-more View More
        .row
          .per-section-control.hidden-sm.hidden-xs
            .col-sm-12.clearfix
              .pull-left
            .btn.btn-base.main-label.pull-left Requested &nbsp; &nbsp;
              i.fa.fa-chevron-right
            a(href="#").view-more View More
        .row
          .grid-container
            - for(var i=0;i<16;i++){
              a(href="#")
                figure
                  img(src="/build/img/thumb.png")
                  .overlay
                    .play-container
                      i.fa.fa-play-circle-o.fa-4x
              .grid-info
                h3 Suicide squad
                .row
                  .well.clearfix
                    .col-sm-4.text-center.no-padding
                      span.imdb-rating.well-label IMDb 7.7
                    .col-sm-4.text-center.no-padding
                      span.well-label 2016
                    .col-sm-4.text-center.no-padding
                      span.well-label 2h
                  .col-sm-12.sinopsis
                    oeufhuoe fhwoeuhf owuehf owuefo uewhjfo wehjf uewh fowe fhof fowefe
            - }
      
  .visible-lg.text-center
    h1 lg
  .visible-sm.text-center
    h1 sm
  .visible-md.text-center
    h1 md
  .visible-xs.text-center
    h1 xs
    
    
  footer.footer
    .container-fluid
      p.text-muted sdgfhwoefhweogih
